<form class="form">

    <div class="form-header">
        <h1 color="accent">Login Page</h1>
    </div>

    <mat-form-field class="full-width">
      <input matInput placeholder="Email"  name="email" id="email"
      required [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="full-width">
    <input matInput type = "password" placeholder="password" name="password" id="password"
    required [(ngModel)]="password"   >
    </mat-form-field>

    <button mat-raised-button color="primary" (click)=onSubmit()>Submit</button>
    <button mat-raised-button color="primary" (click)=createAccount() style="margin-left: 10px">Create Account</button>

    <div [hidden]="!error">
        <h4>Invalid email and/or password</h4>
    </div>

</form>
