.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline-color:blueviolet;

}
.container > * {
  width: 45%;
  height: 65%;

}
.card-container{
  line-height: 50px;
  margin:0 auto;
  display:inline-block;
}

