<h2>user list</h2>
<div class="form-group">
  <label for="name">ID: </label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="userCredentialId" name="id">
</div>

<div class="form-group">
  <label for="name">password: </label>
  <input type="text" class="form-control" id="pwd"
         required
         [(ngModel)]="password" name="pwd">
</div>

<div class="form-group">
  <label for="name">access code: </label>
  <input type="text" class="form-control" id="code"
         required
         [(ngModel)]="code" name="code">
</div>

<button (click)="onClickMe()">submit</button>


