

<!--
<h2>user list</h2>
<div class="form-group">
  <label for="name">ID: </label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="userCredentialId" name="id">
</div>

<div class="form-group">
  <label for="name">password: </label>
  <input type="password" class="form-control" id="pwd"
         required
         [(ngModel)]="password" name="pwd">
</div>

<div class="form-group">
  <label for="name">access code: </label>
  <input type="text" class="form-control" id="code"
         required
         [(ngModel)]="code" name="code">



</div>

<button (click)="onClickMe()">submit</button>
-->
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card >
    <mat-card-header>
        <mat-card-title>Login Page</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="password">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>




