<div>
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="store" class="btn btn-primary active" role="button" routerLinkActive="active">Stores</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbypostalcode" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    <a routerLink="update" class="btn btn-primary active" role="button" routerLinkActive="active">Update</a>
  </nav>
  <router-outlet></router-outlet>
</div>