<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pizza Ordering</span>

    <span class="center"></span>
    <span
      ><a href="http://localhost:4200/shoppingcart" style="text-decoration: none; color:white"
        >Shopping Cart</a
      ></span
    >

    <span class="filler"></span>
    <span
      ><a href="http://localhost:4200/login" style="text-decoration: none; color:white"
        >Logout</a
      ></span
    >
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <div class="image"></div> -->
