  
<h3>Create Store</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="storeName">Name</label>
      <input type="text" class="form-control" id="storeName" required [(ngModel)]="store.storeName" name="storeName">
    </div>
 
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="store.city" name="city">
    </div>

    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" required [(ngModel)]="store.state" name="state">
    </div>

    <div class="form-group">
        <label for="zipCode">Zip Code</label>
        <input type="text" class="form-control" id="zipCode" required [(ngModel)]="store.zipCode" name="zipCode"  maxlength="5">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>