<form class="form">

    <div class="form-header">
        <h1 color="accent">Create Store</h1>
    </div>

    <mat-form-field class="full-width">
      <input matInput placeholder="Store Name" 
      required [ngModel]="store?.storeName" (ngModelChange)="store.storeName = $event" name="name" >
    </mat-form-field>
  
    <mat-form-field class="full-width">
        <input matInput placeholder="City" 
        required [ngModel]="store?.city" (ngModelChange)="store.city = $event" name="city" >
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="State" 
        required [ngModel]="store?.state" (ngModelChange)="store.state = $event" name="state" >
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Zip Code" 
        required [ngModel]="store?.zipCode" (ngModelChange)="store.zipCode = $event" name="zipCode" maxlength="5" >
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="back()">Back</button>
    <button mat-raised-button color="primary" (click)=onSubmit() style="margin-left: 10px">Create Store</button>

</form>

