<div>

  <form>

    <div class="form-header">
      <h1 color="accent">Find a location</h1>
    </div>
    
    <div class="form-group input-container">
      <mat-form-field>
        <input
          matInput
          ngModel
          type="text"
          (ngModelChange)="searchStores($event)"
          name="zipCodeInput"
          placeholder="Zipcode"
          minLength="5"
          maxlength="5"
          ng-pattern="onlyNumbers"
        />
      </mat-form-field>
    </div>
      
    <div *ngFor="let store of stores | async" style="width: 300px;">
      <a routerLink="{{store.storeId}}">
        <app-store-details [store]='store'></app-store-details>
      </a>
    </div>

  </form>

  <nav>
      <button mat-raised-button color="primary" (click)="createStore()">Add Store</button>
  </nav>

</div>

