label {
    display: inline-block;
    width: 10em;
    margin: 0.3em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 1em;
    font-size: 1em;
    padding-left: 0.4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

/* columns */
.column 
{
  float: left;
  width: 50%;
}
  
/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}

/* cards */
.card 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100px;
  height: 100px;
  text-align: center;
}
  
.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
  
.container 
{
  padding: 8px 16px;
}
  
.card-container 
{
  display: flex;
  margin: 3em;
}
  

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  float: left;
  width: 50%;
}

.example-full-width {
  width: 100%;
}